{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <title>
        List of Books
      </title>
      <script src="{% static 'search.js' %}"></script>
    
    </head>
    <body>
      <div class="container" style="width: 100%;">
        <h1 class="titles overflow-auto">Search Any Books</h1>
        <div class="input" style="display: flex; flex-flow: row wrap;">
          <input class="form-control" type="text" id="search" placeholder="Search books here">
        </div>
        <br>
        <div style="display: flex; overflow-x:auto;">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="align-middle">No</th>
                        <th class="align-middle">Cover</th>
                        <th class="align-middle">Title</th>
                        <th class="align-middle">Author(s)</th>
                        <th class="align-middle">Publisher</th>
                        <th class="align-middle">Released date</th>
                    </tr>
                </thead>
                <tbody id="hasil"></tbody>
            </table>
        </div>
      </div>
    </body>
</html>
{% endblock content %}