/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');

nav{
  background-color:  #3352BA;
}
h1, h3{
  font-family: 'Cutive', serif;
}
.titles{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
}
.accordion{
  align-self: center;
  text-overflow: ellipsis;
}
li{
  line-height: 200%;
}
body{
  text-overflow: ellipsis;
}
.upbutton{
  background-color: #E9CED8;
}
.downbutton{
  background-color: #B8C5EB;
}