{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <title>
          My Activities
      </title>
      <script src="{% static 'script.js' %}"></script>
    </head>
    <body>
      <div class="container" style="width: 100%;">
        <h1 class="titles overflow-auto">What I've Been Up To</h1>
          <div class="accordion">
            <div class="textaccordion" id="aktivitas">
              <h3>
                Aktivitas Saat Ini
                <div class="float-right">
                <button type="button" class="upbutton">^</button>
                <button type="button" class="downbutton">v</button>
                </div>
              </h3>
              <div>
                On Repeat:
                <ul>
                  <li>
                    Kuliah
                  </li>
                  <li>
                    Nugas
                  </li>
                  <li>
                    Rapat
                  </li>
                  <li>
                    Makan
                  </li>
                  <li>
                    Tidur
                  </li>
                </ul>
              </div>
            </div>
            <div id="kepanitiaan">
              <h3>
                Kepanitiaan dan Organisasi
                <div class="float-right">
                  <button type="button" class="upbutton">^</button>
                  <button type="button" class="downbutton">v</button>
                </div>
              </h3>
              <div>
                Yang Sudah Selesai :
                <ul>
                  <li>
                    Staf Editorial Marketing COMPFEST 12
                  </li>
                  <li>
                    Staf Relasi Wisuda Genap 2020
                  </li>
                  <li>
                    Mentor OKK UI 2020
                  </li>
                </ul>
                Yang Masih Berjalan :
                <ul>
                  <li>
                    Staf Departemen Adkesma BEM Fasilkom UI 2020
                  </li>
                </ul>
              </div>
            </div>
            <div id="prestasi">
              <h3>
                Prestasi
                <div class="float-right">
                  <button type="button" class="upbutton">^</button>
                  <button type="button" class="downbutton">v</button>
                </div>
              </h3>
              <div>
                <ul>
                  <li>Lomba Tata Upacara Bendera SMAN 40 Jakarta</li>
                  <li>Nilai 100 UN SMA Mata Pelajaran Bahasa Indonesia</li>
                </ul>
              </div>
            </div>
            <div id="hobi">
              <h3>
                Hobi dan Yang Dilakukan Selain Kuliah
                <div class="float-right">
                  <button type="button" class="upbutton">^</button>
                  <button type="button" class="downbutton">v</button>
                </div>
              </h3>
              <div>
                <ul>
                  <li>
                    Menonton Drama dan Variety Shows<br>
                    On-going drama yang sedang ditonton = Penthouse, Live On, The Gifted Graduation<br>
                    On-going variety shows yang sedang ditonton = New Journey To The West Season 8, 2 Days 1 Night Season 4
                  </li>
                  <li>
                    Mendengarkan Musik + Fangirling<br>
                    Current favorite music = ONF - Moscow Moscow, Treasure - Orange, Weeekly - Zig Zag <br>
                    Favorite groups = AB6IX, ONF, Treasure, Weeekly<br>
                  </li>
                  <li>
                    Membaca Novel (On Hiatus)<br>
                    Favorite series = The Hunger Games, The Mortal Instruments
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </body>
</html>
{% endblock content %}