{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        Welcome!
    </title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4" style="text-align: center; overflow-wrap: break-word;">Welcome!</h1>
                <hr class="my-4">
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="{% url 'story7app:activities' %}" role="button">See What I'm Up To</a>
                  <a class="btn btn-primary btn-lg" href="{% url 'story8:books' %}" role="button">Books Lists</a>
                </p>
              </div>
        </div>
    </body>
</html>

{% endblock content %}