{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">   
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <title>
        Welcome!
      </title>
    
    </head>
    <body>
      <div class="container">
        <div class="jumbotron jumbotron-fluid">
          {% if user.is_authenticated %}
          <h1 class="display-4" style="text-align: center; overflow-wrap: break-word;">Welcome, {{ user.username }}</h1>
          <div style="width: 100%; text-align: center;">
            <h2 style="overflow-wrap: break-word;">log out</h2>
            <a class="btn btn-primary btn-lg" href="{% url 'story9:signout' %}" role="button">Logout</a>
          </div>
          {% else %}
          <h1 class="display-4" style="text-align: center; overflow-wrap: break-word;">Welcome, Guest</h1>
          <hr class="my-4">
          <div class="d-flex flex-row flex-wrap" style="overflow: scroll;">
            <div class="overflow-auto" style="width: 50%; text-align: center;">
              <h2 style="overflow-wrap: break-word;">log in to existing account</h2>
              <a class="btn btn-primary btn-lg" href="{% url 'story9:signin' %}" role="button">Login</a>
            </div>
            <div class="overflow-auto" style="width: 50%; text-align: center;">
              <h2 style="overflow-wrap: break-word;">create new account</h2>
              <a class="btn btn-primary btn-lg" href="{% url 'story9:signup' %}" role="button">Sign Up</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </body>
</html>
{% endblock content %}
