{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">   
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <title>
        Sign Up
      </title>
    
    </head>
    <body>
      <div class="container" style="width: 100%;">
        <h1 class="titles overflow-auto">Sign Up</h1>
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;"><b>{{ message }}</b></p>
        {% endfor %}
        {% endif %}

        {% if user.is_authenticated %}
        <h2>Hello, {{user.username}}</h2>
        <p>You have already logged in!</p>
        <p>Log out first to make a new account</p>
        <a href="{% url 'story9:home' %}" class="btn btn-primary btn-lg">Back to Home</a>
        {% else %}
        <form method="POST" style="border: cornflowerblue; border-style:dotted; padding: 2%;">
          {% csrf_token %}
          <div class="form-group">
            <label>Email address</label>
            <input required type="text" name="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label>Username</label>
            <input required type="text" name="username" class="form-control" id="username">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input required type="password" name="password" class="form-control" id="password">
          </div>
          <button type="submit" class="btn btn-outline-success">Submit</button>
        </form>
        <div style="margin-top: 2%;">Log in to your account</div>
        <a class="btn btn-primary" href="{% url 'story9:signin' %}" role="button">Login</a> 
        <div style="margin-top: 2%;">Back to home</div>
        <a href="{% url 'story9:home' %}" class="btn btn-primary">Home</a> 
        {% endif %}
      </div>
    </body>
</html>
{% endblock content %}